.wrapper{
    display: flex;
    margin: 50px;
    padding: 60px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: yellow;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
}

.card{
    width: 100px;
    background-color: aqua;
    padding: 50px;
}
.item-1{
    
    align-self:last baseline;

}
.item-2{
    
    
}
.item-3{
    
}